@mixin layoutPadding($size: 8px) {
  > * {
    margin-right: $size;

    &:last-child {
      margin-right: 0;
    }
  }
}

@mixin flex($justifyContent: center, $alienItems: center, $flex: flex) {
  display: $flex;
  justify-content: $justifyContent !important;
  align-items: $alienItems !important;
}

@mixin ellipse {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin beautyScrollbar {
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  &::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
  }

  &::-webkit-scrollbar-corner {
    background-color: rgba(0, 0, 0, 0);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background: transparent;
    transition: all 1s;
  }

  &:hover::-webkit-scrollbar-thumb {
    background: var(--semi-color-fill-2);
  }

  &::-webkit-scrollbar-thumb:hover {
    background: var(--semi-color-fill-1);
  }
}

@mixin semiTabContentFullHeight {
  .semi-tabs {
    height: 100%;

    &-content {
      // 减去 Bar 的高度
      height: calc(100% - 38px);
      padding: 0;
    }

    .semi-tabs-pane,
    .semi-tabs-pane-motion-overlay {
      height: 100%;
    }
  }
}
