@import "@/common/styles/utils.scss";

.user-avatar {
  flex-shrink: 0;
}

.user-avatar-menu {
  &-title {
    @include flex(flex-start, center);

    padding: 16px 16px 12px;
    margin-bottom: 4px;
    border-bottom: 1px solid var(--semi-color-border);

    &-info {
      margin-left: 10px;
      width: 190px;
    }
  }

  &-footer {
    margin-top: 4px;
    border-top: 1px solid var(--semi-color-border);
    padding-left: 0;
    padding-right: 0;

    > div {
      padding: 10px 0;
      color: var(--semi-color-danger);
      text-align: center;
      cursor: pointer;
      font-size: 14px;

      &:hover {
        background-color: var(--semi-color-fill-0);
      }
    }
  }
}
